body {
  text-align: center;
}

.map {
  width: 100%;
  height: 600px;
}

#map:focus {
  outline: #4a74a8 solid 0.15em;
}

.custom {
  position: absolute;
  top: 120px;
  left: 50px;
}

.custom button {
  width: 30px;
  min-height: 30px;
  background-color: rgba(30,100,160,.4);
  border-radius: 20%;
  color: white;
  font-size:15px;
  cursor: pointer;
}

.drawing {
  position: absolute;
  top: 150px;
  left: 50px;
}

.drawing button {
  width: 30px;
  min-height: 30px;
  background-color: rgba(30,100,160,.4);
  border-radius: 20%;
  color: white;
  font-size:15px;
  cursor: pointer;
}

.pointer {
  position: absolute;
  top: 180px;
  left: 50px;
}

.pointer button {
  width: 30px;
  min-height: 30px;
  background-color: rgba(30,100,160,.4);
  border-radius: 20%;
  color: white;
  font-size:15px;
  cursor: pointer;
}

.coordinates {
  position: absolute;
  left: 50;
  background-color: rgba(30,100,160,.4);
  color: white; 
  border-radius: 5px;
}


ul {
  list-style-type: none;
}
